@model PruebaFacturacionCalculosDinamicsJQueryMvcNet8.Models.FacturaViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles de la Factura</h2>

<div>
    <h4>Factura</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Número de Factura
        </dt>
        <dd class="col-sm-10">
            @Model.FacturaNumero
        </dd>
        <dt class="col-sm-2">
            Fecha de Emisión
        </dt>
        <dd class="col-sm-10">
            @Model.FechaEmision.ToString("dd/MM/yyyy")
        </dd>
        <dt class="col-sm-2">
            Cliente
        </dt>
        <dd class="col-sm-10">
            @Model.Cliente.Firstname @Model.Cliente.Lastname
        </dd>
        <dt class="col-sm-2">
            Total
        </dt>
        <dd class="col-sm-10">
            @Model.Total.ToString("C")
        </dd>
    </dl>
</div>

<h4>Productos</h4>
<table class="table">
    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio Unitario</th>
            <th>Subtotal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrdenProductos)
        {
            <tr>
                <td>@item.Product.Name</td>
                <td>@item.Cantidad</td>
                <td>@item.PrecioUnitario.ToString("C")</td>
                <td>@item.Subtotal.ToString("C")</td>
            </tr>
        }
    </tbody>
</table>

<h4>Total: @Model.Total.ToString("F2")</h4>
<a asp-action="Index" class="btn btn-primary">Volver a la lista</a>
<a asp-action="Update" asp-route-id="@Model.Id" class="btn btn-warning">Actualizar Factura</a>
