@model IEnumerable<PruebaFacturacionCalculosDinamicsJQueryMvcNet8.Models.FacturaViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Facturas</h2>

<a class="btn btn-outline-info" asp-action="Create" asp-controller="Factura">Crer factura</a>

<table class="table table-bordered table-hover border-info">
    <thead>
        <tr>
            <th>Factura No.</th>
            <th>Fecha Emisión</th>
            <th>Cliente</th>
            <th>Total</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>@item.FacturaNumero</td>
                <td>@item.FechaEmision</td>
                <td>@item.Cliente.Firstname @item.Cliente.Lastname</td>
                <td>@item.Total</td>
                <td>
                    @Html.ActionLink("Ver factura", "Details", "Factura", new { id = item.Id }, new { @class="btn btn-info"})
                    @Html.ActionLink("Actualizar factura", "Update", "Factura", new { id = item.Id }, new { @class="btn btn-info"})
                </td>
            </tr>
        </tbody>
    }
</table>
